.account-masthead {
    background-color: rgb(40, 40, 40);
}

.hero {
    background: none;
    display: block;
    position: relative;
}

.hero > * {
    z-index:1;
}

.hero::before {  
    content:"";
    background: #ffffff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index:-1;
}

.hero::after {  
    content:"";
    background: url(banner.jpg);
    opacity: 0.5;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index:-1;
}

.masthead {
    background-color: rgb(228, 181, 72);
}

.masthead .navigation .nav-pills li a:hover {
    background-color: rgb(231, 192, 100);
}

.masthead .navigation .nav-pills li.active a {
    background-color: rgb(231, 192, 100);
}

body {
    background-color: #555555;
  }

.site-footer {
    background-color: #555555;
}

.btn-primary {
    background-color: rgb(228, 181, 72);
}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(231, 192, 100);
}

.homepage .module-search .module-content {
    background-color: rgb(228, 181, 72);
}

.homepage .module-search .tags {
    background-color: rgb(231, 192, 100);
}

/* Fixes bugs with the schema plugin */
.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;   
}

.form-control.select2-container {
    height: auto !important;
    padding: 0;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}