body {
    font-family: helvetica;
    color: #124191;
    background: #0b285b;
    padding: 12px 2px;124191
}
h1, h2 {
    color: #00c9ff;
    text-shadow: 1px 0px 1px #d8d9da;
}
main {
    min-width: 600px;
    margin: auto;
}
.paper {
    min-height: 400px;
    margin: auto 9px auto auto;
    padding: 5px 30px;
    background-color: #fff;
    position: relative;
    font-size: 120%;
}
.paper,
.paper::before {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: 2px 1px 1px rgba(0,0,0,0.20);
}
.paper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
}
/* Second sheet of paper */
.paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
}
.paper_header {
    padding: 4px;
    margin: 0 0 20px 0;
    color: #124191;
    border-bottom: 1px solid #00c9ff;
    font-family: monospace;
    font-weight: 700;
    font-size: 110%;
}
pre {
    background: #f4f5f5;
    border: 1px solid #d8d9da;
    border-left: 3px solid #124191;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 100%;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
:not(pre) > code {
    /* Inline code snippets. */
    background: #f4f5f5;
    padding: 2px 4px;
    margin: 0px 4px;
    border: 1px solid #eee;
    border-radius: 2px;
    color: #565;
    font-family: monospace;
    font-weight: 600;
    word-wrap: break-word;
}
.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 90vh;
    overflow:auto;
}
nav {
    margin: 3px 0px;
}
button {
    margin: 3px 0px;
    background: #d8d9da;
    color: #0b285b;
    border: 1px solid #a8bbc0;
    border-radius: 3px;
    font-size: 70%;
    font-weight: 800;
    text-shadow: 1px 1px 3px #a8bbc0;
}
.footer_logo {
    margin: 3px 0px;
    padding: 0px 5px;
    background: transparent;
    color: #a8bbc0;
    font-size: 75%;
    text-shadow: 0 0 4px #222;
}
.xslide_logo {
    font-weight: 800;
    border: 1px solid #68717a;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0px 5px;
}
