#jumbotron_main {
    height: 230px;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

#search_results {
    position: absolute;
    z-index: 2; /* So when favorites list-group is hovered it won't cover search results list-group*/
}

#alert_row {
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

#buttons_row {
    margin-top: 25px;
    margin-bottom: 25px;
}

#favorites_row {
    height: 300px;
    margin-bottom: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background-color: #E9ECEF
}

#favorites_header_row {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    background-color: #E9ECEF
}

#movie_favorites {
    height: 250px;
    max-height: 250px;
    overflow: auto;
}

#game_favorites {
    height: 250px;
    max-height: 250px;
    overflow: auto;
}

#book_favorites {
    height: 250px;
    max-height: 250px;
    overflow: auto;
}

#recommendation_header_row {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 10px;
    background-color: #E9ECEF
}

#recommendation_row {
    height: 300px;
    margin-bottom: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background-color: #E9ECEF
}

#movie_recommendation {
    max-height: 250px;
    overflow: auto;
}

#game_recommendation {
    max-height: 250px;
    overflow: auto;
}

.spinner-border {
    display: none;
}

#book_recommendation {
    max-height: 250px;
    overflow: auto;
}

.list-group-item {
    min-height: 50px;
}